* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
  font-family: 'ArialMT';
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  box-sizing: content-box;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

p, ul, ol, figure {
  margin: 0 0 10px 0;
}

* + p, * + ul, * + ol , * + figure {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 0.67em;
}

a, .link {
  color: blue;
  text-decoration: none;
}

a:hover, .link:hover {
  text-decoration: underline;
  color: #fed136;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.logo {
  display: inline-block;
  font-family: 'Wisdom-Script';
  color: #fed136;
  letter-spacing: 1.3px;
  font-size: 26px;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}


