.jumbotron {
  background-color: transparent;
  color: #fff;
  padding-top: 195px;
}

.jumbotron-subtitle {
  font-size: 40px;
  font-weight: 400;
}

.jumbotron-title {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 400;
}